<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Shopfy</a>

    <div id="navbarNav">
      <ul class="navbar-nav">
        <li>
          <a class="nav-link" href="#"> Home </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/cart"
            >cart {{ getCount() > 0 ? getCount() : "" }}</a
          >
        </li>

        <li *ngIf="!isLoggedIn()" class="nav-item">
          <div routerLink="/login">Login</div>
        </li>

        <li>
          <a class="nav-link" routerLink="/login"> Logout </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
