<h3 class="text-center mt-3">order items</h3>
<table class="table mx-3 my-3">
  <thead>
    <tr>
      <th scope="col">product id</th>
      <th scope="col">product</th>
      <th scope="col">quanity</th>
      <th scope="col">price</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr>
      <th scope="row">1</th>
      <td>t-shirts</td>
      <td>2</td>
      <td>1000</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>t-shirts</td>
      <td>2</td>
      <td>1000</td>
    </tr>

    <tr>
      <th scope="row">1</th>
      <td>t-shirts</td>
      <td>2</td>
      <td>1000</td>
    </tr>

    <tr>
      <td colspan="3" class="text-center">Total</td>
      <td>3000</td>
    </tr>
  </tbody>
</table>


